@import '../../sass/abstracts/variables';

#root, .App {
  background-color: #F7F7F7;
}

.survey {
  /* @media #{$mq-md} {
    max-width: 640px;
    margin: auto;
  }

  &__header {
    @media #{$mq-md} {
      box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    }
  }

  &__header, &__sub-header {
    background-color: #FFFFFF;
    padding: 26px 15px;
    margin-bottom: 15px;
  }

  &__header-title {
    font-family: 'Google Sans',Roboto,Arial,sans-serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 40px;
    color: #202124;
    line-height: 135%;
  }

  &__header-text {
    white-space: pre-wrap;
    font-family: Roboto,Arial,sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .2px;
    line-height: 20px;
    color: #202124;
  }

  &__header-link {
    text-decoration: underline;
    margin-bottom: 15px;
    color: #1890ff;
  }

  &__header-asterisk {
    color: #E62A26;
  }

  &__sub-header-title {
    font-family: 'Google Sans',Roboto,Arial,sans-serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 40px;
    color: #1890ff;
    line-height: 135%;
  }
  
  &__body {
    background-color: #FFFFFF;
    padding: 26px 15px;

    @media #{$mq-md} {
      box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    }
  }

  &__false-space {
    height: 15px;
    width: 100px;
    background-color: #F7F7F7;
  }

  &__progress {
    margin-bottom: 24px !important;

    .ant-progress-outer {
      width: 80%;
    }

    .ant-progress-text {
      width: auto ;
    }
  }

  &__question-title {
    color: #545E6B;
    font-size: calc(18px - 2px);
    font-weight: 400;
    font-family: 'Fira Sans', sans-serif, Arial;
    margin-bottom: 9px;
  }

  &__asterisk {
    color: #E62A26;
  }

  &__answer-text {
    color: #545E6B;
    font-size: 14px;
    font-weight: 300 !important; 
    font-family: 'Fira Sans', sans-serif, Arial;
    display: flex !important;
    flex-direction: row;
    align-items: center;
  }

  &__button {
    margin-right: 8px;
  } */

}