html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  margin: 0;
  padding: 0;
}  

.icheck-material-blue {
  margin: 0 !important;
  padding: 10px 0;
  display: flex !important;
  flex-direction: row;
  align-items: center;
}

[class*="icheck-material"] > input[type="checkbox"]:first-child:checked + label::after, [class*="icheck-material"] > input[type="checkbox"]:first-child:checked + input[type="hidden"] + label::after {
  transform: translate(7px, -2px) rotate(45deg) !important;
}

[class*="icheck-material"] > input:first-child:checked + label::after, [class*="icheck-material"] > input:first-child:checked + input[type="hidden"] + label::after {
  top: auto !important;
}

[class*="icheck-material"] > input:first-child + label::before, [class*="icheck-material"] > input:first-child + input[type="hidden"] + label::before {
  border: 1.5px solid #0a86ea;
}


.block {
  display: block;
  animation: fadein 1s;
  -moz-animation: fadein 1s; 
  -webkit-animation: fadein 1s;
  -o-animation: fadein 1s;
}

.hidden {
  display: none;
}

.flex {
  display: flex;
  animation: fadein 2s;
  -moz-animation: fadein 2s; 
  -webkit-animation: fadein 2s;
  -o-animation: fadein 2s;
}


@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-moz-keyframes fadein { /* Firefox */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-o-keyframes fadein { /* Opera */
  from {
      opacity:0;
  }
  to {
      opacity: 1;
  }
}