html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}  

.icheck-material-blue {
  margin: 0 !important;
  padding: 10px 0;
  display: flex !important;
  flex-direction: row;
  align-items: center;
}

[class*="icheck-material"] > input[type="checkbox"]:first-child:checked + label::after, [class*="icheck-material"] > input[type="checkbox"]:first-child:checked + input[type="hidden"] + label::after {
  transform: translate(7px, -2px) rotate(45deg) !important;
}

[class*="icheck-material"] > input:first-child:checked + label::after, [class*="icheck-material"] > input:first-child:checked + input[type="hidden"] + label::after {
  top: auto !important;
}

[class*="icheck-material"] > input:first-child + label::before, [class*="icheck-material"] > input:first-child + input[type="hidden"] + label::before {
  border: 1.5px solid #0a86ea;
}


.block {
  display: block;
}

.hidden {
  display: none;
}