@import '../../../sass/abstracts/variables';

.personal-data {

  @media #{$mq-md} {
    display: flex;
    flex-direction: row-reverse;
    min-height: 100vh; /* Fallback for browsers that do not support Custom Properties */
    min-height: calc(var(--vh, 1vh) * 100);
  }

  &__container-img {
    height: 223.92px;

    @media #{$mq-md} {
      width: 100%;
      height: auto;
    }
  }

  &__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
  }

  &__container {
    /* padding: 24px 40px 72px; */
    padding: 8px 40px 72px;

    @media #{$mq-md} {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  &__title {
    font-weight: unset;
    font-size: 16px;
    line-height: 24px;
    color: rgb(0, 0, 0);
    font-family: 'Google Sans',Roboto,Arial,sans-serif;
  }

  &__description {
    font-weight: unset;
    font-size: 14px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.7);
    text-align: left;    
    margin-bottom: 50px;
  }
}

/* .control-input {
  position: relative;
  height: 60px;
  overflow: hidden;
  color: $black;
  margin-bottom: 20px;

  &__input {
    width: 100%;
    height: 100%;
    padding-top: 20px;
    border: none;
    background: #F8F5F6;
    color: $black;
    font-size: 18px;
  }

  &__label {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid $black;    
  }

  &__label::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0px;
    width: 100%;
    height: 100%;
    border-bottom: 3px solid $black;
    transform: translateX(-100%);
    transition: all 0.3s ease;
  }

  &__content-name {
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-bottom: 1px;
    transition: all 0.3s ease;
    font-size: 18px;
  }

  &__input:focus {
    outline: none;
  }
  &__input:focus + &__label &__content-name {
    transform: translateY(-150%);
    font-size: 14px;
    left: 0px;
    color: $black;
  }
  &__input:focus + &__label::after {
    transform: translateX(0%);
  }
} */


.control-input {
  margin-bottom: 20px;
  height: 60px;

  &__input {
    padding: 1.8rem 1rem 0.6rem;
    padding-left: 0;
    padding-bottom: 4px;
    font-size: 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.42);
    transition: border-color 0.3s ease;
    outline: none;
    border-top:  0;
    border-right: 0;
    border-left: 0;
    width: 100%;
    background: #F8F5F6;
    font-size: 18px;
  }
  &__input::-moz-placeholder {
    color: rgba(0, 0, 0, 0);
    font-size: 18px;
  }
  
  &__input:-ms-input-placeholder {
    color: rgba(0, 0, 0, 0);
    font-size: 18px;
  }
  
  &__input::placeholder {
    color: rgba(0, 0, 0, 0);
    font-size: 18px;
  }
  
  &__label {
    display: block;
    position: relative;
    max-height: 0;
    /* font-weight: 500; */
    pointer-events: none;
    font-size: 18px;
  }
  
  &__label::before {
    color: $black;
    content: attr(data-content);
    display: inline-block;
    filter: blur(0);
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    transform-origin: left top;
    transition: transform 0.3s ease;
    /* left: 1rem; */
    position: relative;
  }
  
  &__label::after {
    bottom: 1rem;
    content: "";
    height: 3px;
    position: absolute;
    transition: transform 180ms cubic-bezier(0.4, 0, 0.2, 1), opacity 180ms cubic-bezier(0.4, 0, 0.2, 1), background-color 0.3s ease;
    opacity: 0;
    left: 0;
    top: 100%;
    margin-top: -0.1rem;
    transform: scale3d(0, 1, 1);
    width: 100%;
    background-color: $black;
  }
  
  &__input:focus + &__label::after {
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
  
  &__input:-moz-placeholder-shown + &__label::before {
    transform: translate3d(0, -2.2rem, 0) scale3d(1, 1, 1);
  }
  
  &__input:-ms-input-placeholder + &__label::before {
    transform: translate3d(0, -2.2rem, 0) scale3d(1, 1, 1);
  }
  
  &__input:placeholder-shown + &__label::before {
    transform: translate3d(0, -2.2rem, 0) scale3d(1, 1, 1);
  }
  
  &__label::before,
  &__input:focus + &__label::before {
    transform: translate3d(0, -3.50rem, 0) scale3d(0.82, 0.82, 1);
  }
  
  &__input:focus + &__label::before {
    color: $black;
  }
  
  &__content-name {
    border: 0;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
}
