@import '../../../sass/abstracts/variables';

.evaluation-start {  
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  min-height: calc(var(--vh, 1vh) * 100);

  &__content {
    padding: 40px;
    text-align: center;
  }

  &__title {
    font-weight: unset;
    font-size: 20px;
    line-height: 28px;
    color: rgb(0, 0, 0);

    @media #{$mq-md} {
      width: 720px;
    }
  }

  &__description {
    font-weight: unset;
    font-size: 20px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.7);
    text-align: center;
    margin-bottom: 10px;

    @media #{$mq-md} {
      width: 720px;
    }
  }

  &__required {
    font-weight: unset;
    font-size: 20px;
    line-height: 28px;
    color: $red-1;
  }
}