@import '../../sass/abstracts/variables';

/*/////////////////////////////////////////////////// transition//////////////////////////////////////////////////////////////////////////// */
.block {
  display: block;
  animation: fadein 1s;
  -moz-animation: fadein 1s; 
  -webkit-animation: fadein 1s;
  -o-animation: fadein 1s;
}

.flex {
  display: flex;
  animation: fadein 2s;
  -moz-animation: fadein 2s; 
  -webkit-animation: fadein 2s;
  -o-animation: fadein 2s;
}

@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-moz-keyframes fadein { /* Firefox */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-o-keyframes fadein { /* Opera */
  from {
      opacity:0;
  }
  to {
      opacity: 1;
  }
}
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////  */

.survey { 
  &__body {
    margin: 0 auto;
  }
}

.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 32px 40px;
  
  &__img {
    margin-bottom: 24px;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    width: 200px;

    @media #{$mq-md} {
      width: 392px;
    }
  }
  
  &__title {
    font-weight: unset;
    font-size: 20px;
    line-height: 28px;
    color: rgb(0, 0, 0);
    font-family: 'Google Sans',Roboto,Arial,sans-serif;

    @media #{$mq-md} {
      font-size: 24px;
      line-height: 32px;
    }
  }
  
  &__description {
    font-weight: unset;
    font-size: 16px;
    line-height: 24px;
    color: #545E6B;
    font-family: 'Google Sans',Roboto,Arial,sans-serif;
    margin-bottom: 72px;

    @media #{$mq-md} {
      font-size: 20px;
      line-height: 28px;
      width: 720px;
    }
  }
}

.personal-data {

  @media #{$mq-md} {
    display: flex;
    flex-direction: row-reverse;
    min-height: 100vh; /* Fallback for browsers that do not support Custom Properties */
    min-height: calc(var(--vh, 1vh) * 100);
  }

  &__container-img {
    height: 223.92px;

    @media #{$mq-md} {
      width: 100%;
      height: auto;
    }
  }

  &__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
  }

  &__container {
    /* padding: 24px 40px 72px; */
    padding: 8px 40px 72px;

    @media #{$mq-md} {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  &__title {
    font-weight: unset;
    font-size: 16px;
    line-height: 24px;
    color: rgb(0, 0, 0);
    font-family: 'Google Sans',Roboto,Arial,sans-serif;
  }

  &__description {
    font-weight: unset;
    font-size: 14px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.7);
    text-align: left;    
    margin-bottom: 50px;
  }
}

.control-checkbox {
  margin-bottom: 16px;

  &__label {
    padding-left: 30px;
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__checkbox[type=checkbox] {
    display: none;
  }
  &__checkbox[type=checkbox]:not(:checked) + &__label::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    /* top: -1px; */
    border-radius: 2px;
    border: 2px solid #757575;
    background-color: #fff;
    transition: 0.2s;
    left: 0;
  }
  &__checkbox[type=checkbox]:checked + &__label::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    /* top: -1px; */
    border-radius: 2px;
    border: 2px solid #00bbd6;
    background-color: #00bbd6;
    transition: 0.2s;
    left: 0;
  }
  &__checkbox[type=checkbox]:checked + &__label::after {
    content: "";
    position: absolute;
    width: 6px;
    height: 12px;
    /* top: 0px; */
    border-radius: 2px;
    transition: 0.2s;
    left: 6px;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    -webkit-transform: rotate(36deg);
    -ms-transform: rotate(36deg);
    transform: rotate(36deg);
    animation: fade-in 0.5s;
    margin-bottom: 4px;
  }
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

.control-input {
  position: relative;
  height: 60px;
  overflow: hidden;
  color: $black;
  margin-bottom: 20px;

  &__input {
    width: 100%;
    height: 100%;
    padding-top: 20px;
    border: none;
    background: #F8F5F6;
    color: $black;
    font-size: 18px;
  }

  &__label {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid $black;    
  }

  &__label::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0px;
    width: 100%;
    height: 100%;
    border-bottom: 3px solid $black;
    transform: translateX(-100%);
    transition: all 0.3s ease;
  }

  &__content-name {
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-bottom: 1px;
    transition: all 0.3s ease;
    font-size: 18px;
  }

  &__input:focus {
    outline: none;
  }
  &__input:focus + &__label &__content-name,
  &__input:valid + &__label &__content-name {
    transform: translateY(-150%);
    font-size: 14px;
    left: 0px;
    color: $black;
  }
  &__input:focus + &__label::after,
  &__input:valid + &__label::after {
    transform: translateX(0%);
  }
}

.evaluation-start {  
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  min-height: calc(var(--vh, 1vh) * 100);

  &__content {
    padding: 40px;
    text-align: center;
  }

  &__title {
    font-weight: unset;
    font-size: 20px;
    line-height: 28px;
    color: rgb(0, 0, 0);

    @media #{$mq-md} {
      width: 720px;
    }
  }

  &__description {
    font-weight: unset;
    font-size: 20px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.7);
    text-align: center;
    margin-bottom: 10px;

    @media #{$mq-md} {
      width: 720px;
    }
  }

  &__required {
    font-weight: unset;
    font-size: 20px;
    line-height: 28px;
    color: $red-1;
  }
}

.question { 

  @media #{$mq-md} {
    max-width: 768px;
    margin: 0 auto;
  }
  
  &__container {
    padding: 48px 30px 96px;
  }

  &__header {
    background: $white;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 38px;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
  }

  &__header-title {
    margin-bottom: 10px;
    font-weight: 500;
    background-color: $red-1;
    border-color: $red-1;
    
    .ant-alert-message {
      color: $white;
    }
  }

  &__name {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    margin: 0 10px 22px;
  }

  &__input-group {    
    display: block;
    margin: 10px 0;
    position: relative;
    
    label {  
      background-color: $white;
      border-radius: 10px;    
      border: 1px solid $gray-1;
      padding: 12px 20px 12px 50px;
      width: 100%;
      display: block;
      text-align: left;
      color: #3C454C;
      cursor: pointer;
      position: relative;
      z-index: 2;
      transition: color 200ms ease-in;
      overflow: hidden;
      font-weight: unset;
      font-size: 16px;
      line-height: 24px;
  
      &:before {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        content: '';
        background-color: $gray-1;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) scale3d(1, 1, 1);
        transition: all 500ms cubic-bezier(0.4, 0.0, 0.2, 1);
        opacity: 0;
        z-index: -1;
      }
  
      &:after {
        width: 32px;
        height: 32px;
        content: '';
        border: 2px solid #D1D7DC;
        background-color: #fff;
        background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
        background-repeat: no-repeat;
        background-position: 2px 3px;
        border-radius: 50%;
        z-index: 2;
        position: absolute;
        /* right: 30px; */
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        transition: all 200ms ease-in;
      }
    }
  
    input:checked ~ label {
      color: $white;      
      border-radius: 10px;   
      border-color: $white;  

      &:before {
        transform: translate(-50%, -50%) scale3d(88, 90, 1);
        opacity: 1;
      }
  
      &:after {
        background-color: $black;
        border-color: $black;
      }
    }
  
    input {
      width: 32px;
      height: 32px;
      order: 1;
      z-index: 2;
      position: absolute;
      /* right: 30px; */
      left: 10px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      visibility: hidden;
    }
  }

  &__others {
    position: relative;
  }

  &__others-input-wrap {
    position: absolute;
    right: 6px;
    bottom: 6px;
    z-index: 4;
    height: 36px;
    width: 80%;
  }

  &__others-input {
    border: 2px solid $gray-1;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    color: $black;
    font-size: 14px;
    padding: 0 20px;
    box-shadow: none;  
  }

  &__others-input:focus {
    outline:none;
  }

}

.thank-you {
  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    min-height: calc(var(--vh, 1vh) * 100);
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    padding: 30px;
    text-align: center;
    border-radius: 10px;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    background: $white;
    max-width: 600px;
    margin: 0 10px; 

    @media #{$mq-md} {
      margin: 0;
    }
  }

  &__title {
    font-size: 4em;
    color: $gray-2;
    margin: 0;
    margin-bottom: 20px;
  }

  &__description {
    margin: 0;
    font-size: 1.3em;
    color: $gray-2;
  }

}

.hidden {
  display: none;
}





