@import '../../sass/abstracts/variables';

/*/////////////////////////////////////////////////// transition//////////////////////////////////////////////////////////////////////////// */
.block {
  display: block;
  animation: fadein 1s;
  -moz-animation: fadein 1s; 
  -webkit-animation: fadein 1s;
  -o-animation: fadein 1s;
}

.flex {
  display: flex;
  animation: fadein 2s;
  -moz-animation: fadein 2s; 
  -webkit-animation: fadein 2s;
  -o-animation: fadein 2s;
}

@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-moz-keyframes fadein { /* Firefox */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-o-keyframes fadein { /* Opera */
  from {
      opacity:0;
  }
  to {
      opacity: 1;
  }
}
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////  */

.survey { 
  &__body {
    margin: 0 auto;
    form {
      padding-bottom: 40px;
    }
  }
  
  .invalid-message {
    color: $red-1;
  }
}

.alert-error {
  .ant-message-notice-content {
    background-color: rgb(255, 242, 240);
    border: 1px solid rgb(255, 204, 199);
  }
}


.hidden {
  display: none;
}


::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background: #888b8d;
  box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
}
